.votingButton {
  cursor: pointer;
  margin-left: -7px;
  margin-top: 1px;
}

.votingButton i {
  color: #FFF;
}

.badge-inverse {
  background-color: #FFF;
  color: #4E5D6C;
}

.votingCount {
  font-size: 14px;
  font-weight: bold;
  margin-left: -11px;
  margin-top: 1px;
}
